%% =============================================================================
%% SPDX-FileCopyrightText: 2023 - 2026 Leapsight
%% SPDX-License-Identifier: Apache-2.0
%% =============================================================================

{minimum_otp_vsn, "R28"}.
{erl_opts, [debug_info]}.

%% =============================================================================
%% REBAR
%% =============================================================================

{project_plugins, [
    rebar3_ex_doc,
    rebar3_proper
]}.

{shell, [
    {apps, []}
]}.


{deps, [
    {leveled,
        {git, "https://github.com/OpenRiak/leveled.git",
            {branch, "openriak-4.0"}
        }
    },
    {bondy_oplog,
        {git_subdir, "https://github.com/bondy-io/bondy.git",
            {branch, "feature/aramallo.new_routing_architecture"},
            "apps/bondy_oplog"}}
]}.

%% =============================================================================
%% DOCS
%% =============================================================================

{ex_doc, [
    {source_url, <<"https://github.com/bondy-io/bondy">>},
    {extras, [
        <<"README.md">>
    ]},
    {main, <<"README.md">>}
]}.
